<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvironmentManager4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
      <add name="Default" connectionString="Data Source=.\Files\Database.db;Version=3;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
    <userSettings>
        <EnvironmentManager4.Properties.Settings>
            <setting name="DBBackupDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DBConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BMSalesPadx86" serializeAs="String">
                <value />
            </setting>
            <setting name="BMSalesPadx64" serializeAs="String">
                <value />
            </setting>
            <setting name="BMDataCollection" serializeAs="String">
                <value />
            </setting>
            <setting name="BMSalesPadMobile" serializeAs="String">
                <value />
            </setting>
            <setting name="BMShipCenterx86" serializeAs="String">
                <value />
            </setting>
            <setting name="BMShipCenterx64" serializeAs="String">
                <value />
            </setting>
            <setting name="GPWeb" serializeAs="String">
                <value />
            </setting>
            <setting name="WebAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="OMode" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="OShowAlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OShowVPNIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OShowWIFIIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OEnableWaterBot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OEnableInstallToasts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OPromptForUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavedConnections" serializeAs="String">
                <value />
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Standard</value>
            </setting>
        </EnvironmentManager4.Properties.Settings>
    </userSettings>
</configuration>